body {
    margin: 0px ;
    height: 100vh;
    background-color: #ADD8E6;
}

canvas {
    display: block;
}

#butt{
    position:absolute;
    top: 70%;
    left: 22%;

    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #ADD8E6;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#butt:hover{
    background-color: grey;
}

#buttutorial{
    position:absolute;
    top: 70%;
    left: 33.5%;

    border: none;
    color: black;
    text-align: center;


    text-decoration: none;
    background-color: #ADD8E6;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#buttutorial:hover{
    background-color: grey;
}

#logo{
    position: absolute;
    top: 0%;
    left: 22%;
}