body {
    margin: 0px ;
    height: 100vh;
    background-color: #b9ffff;
}

canvas {
    display: block;
}

#butt{
    position:absolute;
    top: 63%;
    left: 25%;

    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding: 16px 110px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#butt:hover{
    background-color: grey;
}

#foont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
    position: absolute;
    top: 10%;
    left: 22%;
}

#info1{
    position: absolute;
    top: 14%;
}
#info2{
    position: absolute;
    top: 15%;
}
#info3{
    position: absolute;
    top: 130%;
    left: 5%;
}
#info4{
    position: absolute;
    top: 110%;
    left: 5%;
}
#info5{
    position: absolute;
    top: 92.5%;
    left: 38.5%;
}